# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=dropify
MYSQL_USER=
MYSQL_PASSWORD=

# Grafana
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=

# Discord Alertmanager
DISCORD_WEBHOOK_URL=

# JWT
JWT_SECRET=

# Local DB (application-local.yml)
Local_DB_URL=jdbc:mysql://localhost:3306/dropify?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
# Prod DB (application-prod.yml)
DB_URL=jdbc:mysql://mysql:3306/dropify?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=
DB_PASSWORD=

# Local Redis (application-local.yml)
Local_REDIS_HOST=localhost
# Prod Redis (application-prod.yml)
REDIS_HOST=redis
REDIS_PORT=6379

# Local Kafka (application-local.yml)
Local_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
# Prod Kafka (application-prod.yml)
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
